[Unit]
Description=Weather Station - PB200
After=multi-user.target dev-weather_station_pb200.device
BindsTo=dev-weather_station.device

[Service]
Type=idle
ExecStart=/usr/local/bin/weather-station-pb200
PIDFile=/var/run/buoy/weather-station-pb200.pid
ExecStop=/usr/bin/pkill -15 /var/run/buoy/weather-station-pb200.pid
TimeoutStopSec=5
Restart=on-failure

[Install]
WantedBy=dev-weather_station_pb200.device

